

<!DOCTYPE html>

<html >
	<head>
		
		<!-- Website Title & Description for Search Engine purposes -->
		<title>Code a Responsive Website with Twitter Bootstrap 3</title>
		<meta name="description" content="Learn how to code your first responsive website with the new Twitter Bootstrap 3.">
		
		<!-- Mobile viewport optimized -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		
		<!-- Bootstrap CSS -->
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="includes/css/bootstrap-glyphicons.css" rel="stylesheet">
		<link rel="stylesheet2" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		
		<!-- Custom CSS -->
		<link rel="stylesheet" href="includes/css/styles.css">
		
		<!-- Include Modernizr in the head, before any other Javascript -->
		<script src="includes/js/modernizr-2.6.2.min.js"></script>
		<script src="includes/js/rates.js"></script>
		

    	
    	<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
	
	

	

	</head>
	
	<body >

	
		<div class="container" id="main">
		
			<div class="navbar navbar-fixed-top">
				<div class="container">
					
					<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
					<button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				
					<a class="navbar-brand" href="/"><img src="images/logo.png" alt="Your Logo"></a>
					
					<div class="nav-collapse collapse navbar-responsive-collapse">
						<ul class="nav navbar-nav">
							<li class="">
								<a href="/login" ">login</a>
							</li>
							
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <strong class="caret"></strong></a>
								
								<ul class="dropdown-menu">
									<li>
										<a href="#">Web Design</a>
									</li>
									
									<li>
										<a href="#">Web Development</a>
									</li>
									
									<li>
										<a href="#">SEO</a>
									</li>
									
									<li class="divider"></li>
									
									<li class="dropdown-header">More Services</li>
									
									<li>
										<a href="#">Content Creation</a>
									</li>
									
									<li>
										<a href="#">Social Media Marketing</a>
									</li>
								</ul><!-- end dropdown-menu -->
							</li>
						</ul>
						
						<form class="navbar-form pull-left">
							<input type="text" class="form-control" placeholder="Search this site..." id="searchInput">
							<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
						</form><!-- end navbar-form -->
						
						<ul class="nav navbar-nav pull-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> My Account <strong class="caret"></strong></a>
								
								<ul class="dropdown-menu">
									<li>
										<a href="#"><span class="glyphicon glyphicon-wrench"></span> Settings</a>
									</li>
									
									<li>
										<a href="#"><span class="glyphicon glyphicon-refresh"></span> Update Profile</a>
									</li>
									
									<li>
										<a href="#"><span class="glyphicon glyphicon-briefcase"></span> Billing</a>
									</li>
									
									<li class="divider"></li>
									
									<li>
										<a href="#"><span class="glyphicon glyphicon-off"></span> Sign out</a>
									</li>
								</ul>
							</li>
						</ul><!-- end nav pull-right -->
					</div><!-- end nav-collapse -->
				
				</div><!-- end container -->
			</div><!-- end navbar -->
	
	
	<div class="spacer30"></div>

<div class="row">
   <div class="span4">
       <!-- empty, but using spacer to prevent collapse -->
       <div class="spacer10"></div>
   </div>
   <div class="span4">
      <p>Some text...</p>
   </div>
   <div class="span4">
       <p>Some text...</p>
    </div>
</div>	


<%
function getNumberOfPages() {
    return Math.ceil(list.length / numberPerPage);
}


   var list = products;
    var ndisabled, pdisabled,fdisabled,ldisabled;
var pageList = new Array();
var currentPage = 1;
var numberPerPage = 10;
var numberOfPages = 1;
numberOfPages = getNumberOfPages();
loadList() 
function nextPage() {
    currentPage += 1;
    loadList();
}
function previousPage() {
    currentPage -= 1;
    loadList();
}
function firstPage() {
    currentPage = 1;
    loadList();
}

function lastPage() {
    currentPage = numberOfPages;
    loadList();
}

function loadList() {
    var begin = ((currentPage - 1) * numberPerPage);
    var end = begin + numberPerPage;

    pageList = list.slice(begin, end);
   
    check();         // determines the states of the pagination buttons
}
function check() {
     ndisabled = currentPage == numberOfPages ? true : false;
     pdisabled = currentPage == 1 ? true : false;
   fdisabled = currentPage == 1 ? true : false;
     ldisabled = currentPage == numberOfPages ? true : false;
}

		 %>
		 
		 

        		
<div  class="container ">	

		
<% for (var i = 0; i < 	 pageList.length; i++) { %>	
 
<form method="post" id="<%=i%>" action="/addToCart" validate>	
<div class="col-sm-5 col-lg-4 col-md-4 ">
                        <div class="thumbnail">
                            <img src="<%=pageList[i].imageUrl%>">
                            <div class="caption"> <%=pageList[i].title%>
                            <input type="hidden" name="title"  value="<%=pageList[i].title%>">
                                <h4 class="pull-right">$<%=pageList[i].price%></h4>
                                <input type="hidden" name="price" value="<%=pageList[i].price%>">
                               
                                <input type="hidden" name="_id"  value="<%=pageList[i]._id%>">
                                </h4>
                                <p><%=pageList[i].description%></p>
        
		<div class="col-xs-3 col-xs-offset-3">
			<div class="input-group number-spinner">
				<span class="input-group-btn data-dwn">
					<button  type="button" class="btn btn-default btn-info" data-dir="dwn" ><span class="glyphicon glyphicon-minus"></span></button>
				</span>
				<input type="number" name="qty" class="form-control text-center" value="1" min="1" max="<%=pageList[i].stock%>">
				<span class="input-group-btn data-up">
					<button  type="button" class="btn btn-default btn-info" data-dir="up" ><span class="glyphicon glyphicon-plus"></span></button>
				</span>
			</div>
		</div> <p > reviews</p>
		<input type="number" class="rating" id="test" name="rate" data-min="1" data-max="5" value="<%=pageList[i].rating%>">
		
		
		
 
                             
                                      


 <a href="#" onclick="$(this).closest('form').submit();" >
          <span class="glyphicon glyphicon-shopping-cart">add to Cart</span>
        </a>

      </div>
       </div>
        </div>
       
  </form>

 
                 
  <%  } %>
	
 </div>
 
<input type="button" id="first" onclick="firstPage()" value="first" disabled="<%=fdisabled%> />
<input type="button" id="next" onclick="nextPage()" value="next" disabled="<%=ndisabled%> />
<input type="button" id="previous" onclick="previousPage()" value="previous"  disabled="<%=pdisabled%>/>
<input type="button" id="last" onclick="lastPage()" value="last" disabled="<%=ldisabled%> />
 
 <div class="row">
	<div class="col-sm-2">
    </div>
    </div>
    		
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
					
					</div><!-- end col-sm-2 -->
					
					<div class="col-sm-4">
						<h6>About Us</h6>
					<p>	
						 we are passionate about pet health and nutrition.food is the essential element for pets' health. we provide variety of diet option that would be hard to find in regular stores.our mission is to provide  pet owners with healthier, natural nutrition options And we genuinely enjoy helping pet owners to make well informed healthy choices.
</p>	
					</div><!-- end col-sm-4 -->
					
					<div class="col-sm-2">
						<h6>Navigation</h6>
						<ul class="unstyled">
							<li><a href="#">Home</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Links</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div><!-- end col-sm-2 -->
					
					<div class="col-sm-2">
						<h6>Follow Us</h6>
						<ul class="unstyled">
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Google Plus</a></li>
						</ul>
					</div><!-- end col-sm-2 -->
					
					<div class="col-sm-2">
						<h6>Coded with <span class="glyphicon glyphicon-heart"></span> by Brad</h6>
					</div><!-- end col-sm-2 -->
				</div><!-- end row -->
			</div><!-- end container -->
		</footer>
	

	<!-- All Javascript at the bottom of the page for faster page loading -->
		
	<!-- First try for the online version of jQuery-->
	<script src="http://code.jquery.com/jquery.js"></script>
	
	<!-- If no online access, fallback to our hardcoded version of jQuery -->
	<script>window.jQuery || document.write('<script src="includes/js/jquery-1.8.2.min.js"><\/script>')</script>
	
	<!-- Bootstrap JS -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	
	<!-- Custom JS -->
	<script src="includes/js/script.js"></script>
	
	</body>
</html>