<!DOCTYPE html>
<html>
<head>

    <!-- Website Title & Description for Search Engine purposes -->
    <title>Pet Inc</title>
    <meta name="description"
          content="The best shop for pets in world">
    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="includes/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet2" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="includes/css/styles.css">

    <!-- Include Modernizr in the head, before any other Javascript -->
    <script src="includes/js/modernizr-2.6.2.min.js"></script>
    <script src="includes/js/rates.js"></script>


    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>


</head>

<body>

<div class="container" id="main">
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse"
                    type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h2 class="pull-left">Pet Inc</h2>
            <a class="navbar-brand" href="/"><img src="images/logo.png" alt="Your Logo"></a>

            <div class="nav-collapse collapse navbar-responsive-collapse pull-right">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="/logout">Logout</a>
                    </li>

                </ul>
            </div>
            <div class="nav-collapse collapse navbar-responsive-collapse pull-right">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="/orderhis">Order History</a>
                    </li>

                </ul>
            </div>

            <div class=" navbar-form nav-collapse pull-right">
                <ul class="nav navbar-nav">
                    <li class="">
                        <button type="button" class="btn btn-default"
                                onclick="document.getElementById('searchForm').submit();">
                            <span class="glyphicon glyphicon-search"></span></button>
                    </li>

                </ul>
            </div>
            <form id="searchForm" class="navbar-form pull-right" method="post" action="/search">
                <input type="text" class="form-control" placeholder="Search this site..." name="searchInput"/>
            </form><!-- end navbar-form -->
        </div><!-- end nav-collapse -->
    </div><!-- end container -->
</div><!-- end navbar -->
<div class="carousel slide" id="myCarousel"></div>
<div class="row">
    <div class="span4">
        <!-- empty, but using spacer to prevent collapse -->
        <div class="spacer10"></div>
    </div>
    <div class="span4">
        <p></p>
    </div>

</div>
<div class="accordion">
    <a href="/search?f=1"><span class="glyphicon glyphicon-heart badge">  Featured</span></a>
    <a href="/catalog"><span class="glyphicon glyphicon-asterisk badge">  All products</span></a>
    <a href="/cart"><span class="glyphicon glyphicon-shopping-cart pull-right badge">My Cart</span></a>
</div>
<div id="NoSearch" class="alert alert-danger alert-block fade in" style="display: none">

    <strong>Error!</strong> No results were found, please try again!
</div>

<div id="addedToCart" class="alert alert-success alert-block fade in" style="display: none">

    <span class="glyphicon glyphicon-ok"/> Item was Successfully added to Cart !
</div>


<div id="notAddedToCart" class="alert alert-danger alert-block fade in" alert="close" style="display: none">

    <strong>Error!</strong>There was an Error in adding the Item to Cart, please try again!
</div>

<div id="orderCreate" class="alert alert-success alert-block fade in" style="display: none">

    <span class="glyphicon glyphicon-ok"/> Order was Successfully Places!
</div>


<div id="orderNotCreate" class="alert alert-danger alert-block fade in" alert="close" style="display: none">

    <strong>Error!</strong>There was an Error in Placing your order, please try again!
</div>
<script>
    $("#notAddedToCart").fadeTo(1500, 500).slideUp(2000, function () {
        $("#notAddedToCart").alert('close');
    });

    $("#addedToCart").fadeTo(1500, 500).slideUp(2000, function () {
        $("#addedToCart").alert('close');
    });
    $("#orderCreate").fadeTo(1500, 500).slideUp(2000, function () {
        $("#orderCreate").alert('close');
    });

    $("#orderNotCreate").fadeTo(1500, 500).slideUp(2000, function () {
        $("#orderNotCreate").alert('close');
    });

</script>

<div id="container" class="container"></div>
<div class="accordion-group text-center">
    <input type="button" class="button" id="first" onclick="firstPage()" value="first"/>
    <input type="button" id="next" class="next" onclick="nextPage()" value="next"/>
    <input type="button" id="previous" class="prev" onclick="previousPage()" value="previous"/>
    <input type="button" id="last" class="button" onclick="lastPage()" value="last"/>
</div>

<script>
    var list = <%- JSON.stringify(products) %>;

    if (<%- addtoCart %> == 1
    )
    {
        document.getElementById("addedToCart").style.display = 'block';
    }
    else
    {
        document.getElementById("addedToCart").style.display = 'none';
    }
    if (<%- addtoCart %> == 0
    )
    {
        document.getElementById("notAddedToCart").style.display = 'block';
    }
    else
    {
        document.getElementById("notAddedToCart").style.display = 'none';
    }
    if (<%- orderCreate %> == 1
    )
    {
        document.getElementById("orderCreate").style.display = 'block';
    }
    else
    {
        document.getElementById("orderCreate").style.display = 'none';
    }
    if (<%- orderCreate %> == 0
    )
    {
        document.getElementById("orderNotCreate").style.display = 'block';
    }
    else
    {
        document.getElementById("orderNotCreate").style.display = 'none';
    }
    if (list.length == 0) {
        document.getElementById("NoSearch").style.display = 'block';
    } else {
        document.getElementById("NoSearch").style.display = 'none';
        console.log(list);
        var ndisabled, pdisabled, fdisabled, ldisabled;
        var pageList = new Array();
        currentPage = <%- p %>? <%- p %>: 1;
        var numberPerPage = 5;
        numberOfPages = getNumberOfPages();
        loadList();
    }
    function drawList() {

        var block = '';
        for (var i = 0; i < pageList.length; i++) {
            var check = true;
            if (pageList[i].stock <= 0) {
                check = false;
            }
            ;
            block = block + '<form method="post" id=' + i + ' action="/addToCart?p=' + currentPage + '" validate>' +
                    '<div class="col-sm-5 col-lg-4 col-md-4 ">' +
                    ' <div class="thumbnail">' +
                    //  ' <img src="http://www.petsmart.com/gsi/static/WFS/PETNA-PETUS-Site/-/PETNA-PETUS/en_US/2016/May/Supermenus/050216-NAVTILE-CAT-SuperMenu.jpg">'+
                    ' <img src=' + pageList[i].imageUrl + '>' +
                    ' <input type="hidden" name="imageUrl"  value="' + pageList[i].imageUrl + '">' +
                    ' <div class="caption">' + pageList[i].title +
                    ' <input type="hidden" name="title"  value="' + pageList[i].title + '">' +
                    '  <h4 class="pull-right">$' + pageList[i].price + '</h4>' +
                    '<input type="hidden" name="price" value="' + pageList[i].price + '">' +

                    ' <input type="hidden" name="_id"  value="' + pageList[i]._id + '">' +
                    ' </h4>' +
                    ' <p>' + pageList[i].description + '</p>' +

                    '<div class="col-xs-3 col-xs-offset-3">' +
                    '<div class="input-group number-spinner">' +
                    '<span class="input-group-btn data-dwn">' +
                    '<button  type="button" class="btn btn-default btn-info" data-dir="dwn"';
            if (check == false) {
                block = block + 'disabled';
            }
            block = block + ' ><span class="glyphicon glyphicon-minus"></span></button>'
                    + '</span>' +
                    '<input type="number" name="qty" class="form-control text-center" value="';
            if (check) {
                block = block + '1';
            } else {
                block = block + '0';
            }
            block = block + '" min="1" max="' + pageList[i].stock + '">' +
                    '<span class="input-group-btn data-up">' +
                    '   <button  type="button" class="btn btn-default btn-info" data-dir="up" ';

            if (check == false) {
                block = block + 'disabled';
            }
            block = block + '><span class="glyphicon glyphicon-plus"></span></button>' +
                    '</span>' +
                    '</div>' +
                    '</div> <p > reviews</p>' +
                    '<input type="number" class="rating" id="test" name="rate" data-min="1" data-max="5" value="' + pageList[i].rating + '">';

            if (check == true) {
                block = block + '<a href="#" onclick="document.getElementById(' + i + ').submit();" ><span>add to Cart</span></a>';
            }

            else {
                block = block + '<span>out Of Stock</span></a>';
            }
            block = block + '<div><input type="image" style="height:50px;width:50px;" src="images/shopping_cart_button.png" ';
            if (check == false) {
                block = block + 'disabled';
            }

            block = block + '></div>';

            if (pageList[i].categories) {

                block = block + '<div>search tags:<br> ';
                for (var j = 0; j < pageList[i].categories.length; j++) {

                    block = block + '<a href="/search?s=' + pageList[i].categories[j] + '"?p=' + currentPage + '" >' + pageList[i].categories[j] + '</a><h> </h>';

                }
                block = block + '</br></div>';

            }

            block = block + ' </div>' +
                    '</div>' +
                    ' </div>' +

                    ' </form>';
        }

        document.getElementById("container").innerHTML = block;
    }

    function getNumberOfPages() {
        return Math.ceil(list.length / numberPerPage);
    }
    function nextPage() {
        console.log("here Next");
        currentPage += 1;
        var theUrl = "/catalog" + "?p=" + currentPage;
        window.location = theUrl;

    }
    function previousPage() {
        currentPage -= 1;
        var theUrl = "/catalog" + "?p=" + currentPage;
        window.location = theUrl;
    }
    function firstPage() {
        currentPage = 1;
        var theUrl = "/catalog" + "?p=" + currentPage;
        window.location = theUrl;
    }
    function lastPage() {
        currentPage = numberOfPages;
        var theUrl = "/catalog" + "?p=" + currentPage;
        window.location = theUrl;
    }
    function loadList() {
        var begin = ((currentPage - 1) * numberPerPage);
        var end = begin + numberPerPage;
        console.log("here In loadList")
        pageList = list.slice(begin, end);
        console.log("done Loading");
        console.log(pageList);
        drawList();
        check();
// determines the states of the pagination buttons
    }
    function check() {

        document.getElementById("next").disabled = currentPage == numberOfPages ? true : false;
        document.getElementById("previous").disabled = currentPage == 1 ? true : false;
        document.getElementById("first").disabled = currentPage == 1 ? true : false;
        document.getElementById("last").disabled = currentPage == numberOfPages ? true : false;
    }
</script>


<div class="row">
    <div class="col-sm-2">
    </div>
</div>

<footer>
    <div class="container modal-footer">
        <div class="row">
            <div class="col-sm-2">

            </div><!-- end col-sm-2 -->

            <div class="col-sm-4">
                <h6>About Us</h6>
                <p>
                    we are passionate about pet health and nutrition.food is the essential element for pets' health. we
                    provide variety of diet option that would be hard to find in regular stores.our mission is to
                    provide pet owners with healthier, natural nutrition options And we genuinely enjoy helping pet
                    owners to make well informed healthy choices.
                </p>
            </div><!-- end col-sm-4 -->

            <div class="col-sm-2">
                <h6>Navigation</h6>
                <ul class="unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Links</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div><!-- end col-sm-2 -->

            <div class="col-sm-2">
                <h6>Follow Us</h6>
                <ul class="unstyled">
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Google Plus</a></li>
                </ul>
            </div><!-- end col-sm-2 -->

            <div class="col-sm-2">
                <h6>Coded with <span class="glyphicon glyphicon-heart"></span> by Team#3</h6>
            </div><!-- end col-sm-2 -->
        </div><!-- end row -->
    </div><!-- end container -->
</footer>

<!-- All Javascript at the bottom of the page for faster page loading -->

<!-- First try for the online version of jQuery-->
<script src="http://code.jquery.com/jquery.js"></script>

<!-- If no online access, fallback to our hardcoded version of jQuery -->
<script>window.jQuery || document.write('<script src="includes/js/jquery-1.8.2.min.js"><\/script>')</script>

<!-- Bootstrap JS -->
<script src="bootstrap/js/bootstrap.min.js"></script>

<!-- Custom JS -->
<script src="includes/js/script.js"></script>

</body>
</html>
